
<li><%= link_to "Información General", pages_information_path  %></li>

<li><%= link_to "Preguntas y Respuestas", pages_question_path  %></li>

<li><%= link_to "Condiciones y Servicios ", pages_conditional_path  %></li>

<li><%= link_to "Contactenos", pages_contac_path  %></li>

<li><%= link_to "Historial", trasaction_histori_path  %></li>
<li><%= link_to "Favoritos", trasaction_favorite_path  %></li>

<li><%= link_to "Login", acceso_login_path  %></li>
<li><%= link_to "Registrarse", acceso_userregister_path  %></li>