<%= simple_form_for(@feedback) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fec_fedback %>
    <%= f.input :description %>
    <%= f.association :user %>
    <%= f.association :reserve_parking %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
