<p id="notice"><%= notice %></p>
<div class="panel panel-success" >
    <div class="panel-body">
      <h4 class="media-heading">Ofertas Creadas</h4>
  </div>
<div class="media" style="border: 1px solid #5A9C7E;border-radius: 16px;">
  <tbody>
    <% @rent_parkings.each do |rent_parking| %>
      <tr>
          <div class="media-left media-middle" style="width: 18%;display: inline-block;">
          <a href="#">
          <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
          </a>
        </div>
        <div class="media-body" style="display: inline-block;width: 80%;">
        
            <h4 class="media-heading"> Titulo : <%= rent_parking.title %></h4>
            <h4 class="media-heading"> Precio : <%= rent_parking.price %></h4>
            <h4 class="media-heading"> Caracteristica : <%= rent_parking.description %> </h4>
            <h4 class="media-heading"> Direccion : <%= rent_parking.addres %> </h4>
            <h4 class="media-heading"> Distrito : <%= rent_parking.location.desDistrict %> </h4>
            <h4 class="media-heading"> Tipo : <%= rent_parking.type_parking.description %> </h4>
              
        
      
        <div class="jumbotron" style="padding:0px;margin:0px;">
          <td><%= link_to 'Realizar Reserva', new_reserve_parking_path(rent_parking), :class => "btn btn-primary btn-lg"%></td>
          <td><%= link_to 'Ver Detalle', rent_parking , :class => "btn btn-primary btn-lg" %></td>
          <td><%= link_to 'Actualizar', edit_rent_parking_path(rent_parking), :class => "btn btn-primary btn-lg"%></td>
          <td><%= link_to 'Eliminar', rent_parking, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary btn-lg" %></td>
       </div>  
    </tr>
    </div>  
    <% end %>
  </tbody>

  
</div>
<br>
</div>
<%= link_to 'Registrar Nuevo Estacionamiento', new_rent_parking_path %>
