<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @type_parking.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @type_parking.state %>
</p>

<%= link_to 'Edit', edit_type_parking_path(@type_parking) %> |
<%= link_to 'Back', type_parkings_path %>
