<div style="    padding-top: 50px;padding-left: 7%;padding-right: 20%;">
<div class="media" >
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h2 class="media-heading">Car Park on Bloomsbury Square</h2>
    <h2 class="media-heading">Jiron ucayali 2358 , Lima , Peru </h2>
    <h2 class="media-heading">Precio : S/.10  por Hora </h2>
    <div class="jumbotron" style="padding:0px;margin:0px;">
         <%= link_to "Alquilar",trasaction_paiment_path , :class => "btn btn-primary btn-lg"%>
         <%= link_to "Agregar Favorito", trasaction_favorite_path  , :class => "btn btn-primary btn-lg"%>
     </div>
  </div>
  <div>
      La altura máxima del aparcamiento es de 1,9 m .Tenga en cuenta que sólo se puede entrar y salir 
      de este aparcamiento , una vez dentro de su período reservado .Este aparcamiento está dentro de la zona de 
      congestión .Perfectamente situado para las atracciones de Bloomsbury , y el centro de Londres :.
  </div>
 </div>
</div>


<div style="    padding-top: 50px;padding-left: 7%;padding-right: 20%;">
<div class="media" >
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <label>Usuario1</label><br/>
    <label>23/03/2016</label><br/>
    <%= image_tag "estrellas.png", :class => "media-object" %>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
     <textbox>
           El aparcamiento está convenientemente situado ya un precio razonable .
           Está a sólo 10 minutos a pie de la Royal Opera House .
      </textbox>
      <%= link_to "Agregar Comentario", trasaction_detail_path   , :class => "btn btn-primary btn-lg"%>
     
  </div>
</div>
</div>

<div style="    padding-top: 50px;padding-left: 7%;padding-right: 20%;">
<div class="media" >
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <label>Usuario1</label><br/>
    <label>23/03/2016</label><br/>
    <%= image_tag "estrellas.png", :class => "media-object" %>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
     <textbox>
           El aparcamiento está convenientemente situado ya un precio razonable .
           Está a sólo 10 minutos a pie de la Royal Opera House .
      </textbox>
     
  </div>
</div>
</div>

<div style="    padding-top: 50px;padding-left: 7%;padding-right: 20%;">
<div class="media" >
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <label>Usuario1</label><br/>
    <label>23/03/2016</label><br/>
    <%= image_tag "estrellas.png", :class => "media-object" %>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
     <textbox>
           El aparcamiento está convenientemente situado ya un precio razonable .
           Está a sólo 10 minutos a pie de la Royal Opera House .
      </textbox>
  </div>
</div>
</div>





