<div class="panel panel-success" >
  <div class="panel-body">
      <h4 class="media-heading">Busqueda</h4>
  </div>
  
 <% @rent_parkings.each do |rent_parking| %>
 <div class="media" style="border: 1px solid #5A9C7E;border-radius: 16px;">
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h4 class="media-heading"><%= rent_parking.title %></h4>
    <h4 class="media-heading">Precio : S/. <%= rent_parking.price %></h4>
    <%= rent_parking.description %>
  </div>
  <div class="jumbotron" style="padding:0px;margin:0px;">
         <a class="btn btn-primary btn-lg" href="../../trasaction/<%= rent_parking.id %>/detail" role="button">Ver Detalle</a>
     </div>
 </div>
     
 <% end %> 
  
</div>
