<div class="panel panel-success" >
  <div class="panel-body">
      <h4 class="media-heading">Busqueda</h4>
  </div>
  
 <div class="media" style="border: 1px solid #5A9C7E;border-radius: 16px;">
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h4 class="media-heading">Middle aligned media</h4>
    <h4 class="media-heading">Precio : S/. 10</h4>
    orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
    ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
    . Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    Integer tincidunt. Cras dapibu
  </div>
  <div class="jumbotron" style="padding:0px;margin:0px;">
         <%= link_to "Ver Detalle",trasaction_detail_path , :class => "btn btn-primary btn-lg"%>
     </div>
 </div>
 
 
 <div class="media" style="border: 1px solid #5A9C7E;border-radius: 16px;">
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h4 class="media-heading">Middle aligned media</h4>
    <h4 class="media-heading">Precio : S/. 10</h4>
    orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
    ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
    . Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    Integer tincidunt. Cras dapibu
  </div>
  <div class="jumbotron" style="padding:0px;margin:0px;">
         <%= link_to "Ver Detalle",trasaction_detail_path , :class => "btn btn-primary btn-lg"%>
        
     </div>
 </div>
 
 
 <div class="media" style="border: 1px solid #5A9C7E;border-radius: 16px;">
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h4 class="media-heading">Middle aligned media</h4>
    <h4 class="media-heading">Precio : S/. 10</h4>
    orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
    commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
    ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim
    . Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    Integer tincidunt. Cras dapibu
  </div>
  <div class="jumbotron" style="padding:0px;margin:0px;">
         <%= link_to "Ver Detalle",trasaction_detail_path , :class => "btn btn-primary btn-lg"%>
     </div>
 </div>
 
</div>
