<p id="notice"><%= notice %></p>

<p>
  <strong>Fec reserve:</strong>
  <%= @reserve_parking.fec_reserve %>
</p>

<p>
  <strong>Fec ini reserve:</strong>
  <%= @reserve_parking.fec_ini_reserve %>
</p>

<p>
  <strong>Fec fin reserv:</strong>
  <%= @reserve_parking.fec_fin_reserv %>
</p>

<p>
  <strong>Hor ini reserve:</strong>
  <%= @reserve_parking.hor_ini_reserve %>
</p>

<p>
  <strong>Hor fin reserve:</strong>
  <%= @reserve_parking.hor_fin_reserve %>
</p>

<p>
  <strong>Mont reserve:</strong>
  <%= @reserve_parking.mont_reserve %>
</p>

<p>
  <strong>Cod pay:</strong>
  <%= @reserve_parking.cod_Pay %>
</p>

<p>
  <strong>State:</strong>
  <%= @reserve_parking.state %>
</p>

<p>
  <strong>Int:</strong>
  <%= @reserve_parking.int %>
</p>

<p>
  <strong>User:</strong>
  <%= @reserve_parking.user %>
</p>

<p>
  <strong>Rent parking:</strong>
  <%= @reserve_parking.rent_parking %>
</p>

<%= link_to 'Edit', edit_reserve_parking_path(@reserve_parking) %> |
<%= link_to 'Back', reserve_parkings_path %>
