
<div class="panel panel-success" >
  <div class="panel-body">
      <h4 class="media-heading">Reservaciones Realizadas</h4>
  </div>
  
  <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Fecha  : </span>
                 <input type="date" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="dropdown" >
    <button class="btn btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Clientes Con Reserva
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"></li>
      <li role="presentation">  <%= link_to "Juan Valdivia", offert_reservation_path  %></li>
      <li role="presentation">  <%= link_to "Pedro Escamoso", offert_reservation_path  %></li>
      <li role="presentation">  <%= link_to "Juan Larco", offert_reservation_path  %></li>
    </ul>
</div>
  
 <div class="media" style="border: 1px solid #5A9C7E;border-radius: 16px;">
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h4 class="media-heading">Middle aligned media</h4>
    <h4 class="media-heading">Total pagar : S/. 20</h4>
    <h4 class="media-heading">Usuario  : Juana Larco</h4>
    <span>Fecha: 22/03/2016</span><br/>
    <span>Hora Inicio : 11 am   -- Hora Fin : 12 am    </span>
  </div>
  <div class="jumbotron" style="padding:0px;margin:0px;">
         <%= link_to "Detalle Reserva",offert_confirmation_path , :class => "btn btn-primary btn-lg"%>
     </div>
 </div>
 
 
 <div class="media" style="border: 1px solid #5A9C7E;border-radius: 16px;">
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h4 class="media-heading">Middle aligned media</h4>
    <h4 class="media-heading">Total pagar : S/. 20</h4>
    <h4 class="media-heading">Usuario  : Paco Yunque</h4>
    <span>Fecha: 22/03/2016</span><br/>
    <span>Hora Inicio : 11 am   -- Hora Fin : 12 am    </span>
  </div>
  <div class="jumbotron" style="padding:0px;margin:0px;">
         <%= link_to "Detalle Reserva",offert_confirmation_path , :class => "btn btn-primary btn-lg"%>
     </div>
 </div>
 
 
 <div class="media" style="border: 1px solid #5A9C7E;border-radius: 16px;">
  <div class="media-left media-middle" style="width: 18%;display: inline-block;">
    <a href="#">
      <%= image_tag "stacionamiento.jpg", :class => "media-object" %>
    </a>
  </div>
  <div class="media-body" style="display: inline-block;width: 80%;">
    <h4 class="media-heading">Middle aligned media</h4>
    <h4 class="media-heading">Total pagar : S/. 20</h4>
    <h4 class="media-heading">Usuario  : Bin Laden</h4>
    <span>Fecha: 22/03/2016</span><br/>
    <span>Hora Inicio : 11 am   -- Hora Fin : 12 am    </span>
  </div>
  <div class="jumbotron" style="padding:0px;margin:0px;">
         <%= link_to "Detalle Reserva",offert_confirmation_path , :class => "btn btn-primary btn-lg"%>
     </div>
 </div>
 
</div>
